@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

@import url(https://fonts.googleapis.com/css?family=PT+Serif); 

@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

@import url(https://fonts.googleapis.com/css?family=Satisfy);

@import url(https://fonts.googleapis.com/css?family=Playball);

@import url(https://fonts.googleapis.com/css?family=Exo:400,900);

body {
	background-image: url("../images/heroimagegug.jpg");
	background-repeat: no repeat;
	background-size: cover;
	background-position: center;
	text-align: left;
	font-size: 44px;
	font-family: 'Open Sans Condensed', Helvetica, sans-serif;
	font-weight: 400;
}

br {
	width: 44px;
}
h1 {
	font-family: 'Exo', sans-serif;
	color: #000;
	font-weight: 900;
	text-align: center;
}

h2 {
	font-family: 'Playball', cursive;
	color: #000;
	text-align: center;
	line-height: .5em;
}

h3 {
	font-family: 'PT Serif', serif;
}

#slogan {
	font-size: 45px;
	font-family: 'Dancing Script', cursive; 
	text-align: center;
}

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
	background-color: #E8C66A;
	border: 1px black solid;
    padding: 20px;
}

article {
	background-color: #E89C6C;
	border: 1px black solid;
    padding: 20px;
}

footer {
	background-color: #FF957E;
	border: 1px black solid;
    padding: 20px;
}

section { 
	background-color: #FFE2B8;
	border: 1px black solid;
    padding: 20px;
}