body {
	background: url("images/heroimagegug.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	font-size: 22px;
}

h1 {
	color: #7FB0FF;
	font-family: "Champaigne & Limousines";
}

#slogan{
	color: orange;
	font-size: 14px;
}
